<div class class="main-wrapper">

  <header>
    <div class="container">
      <a href="" class="logo">
        <img src="../../assets/Logo-Rechteckig.png"> <!-- Einbindung des Logos funktioniert noch nicht; kp why ? -->
      </a>
        <h1>Willkommen zurück bei Cookery</h1>
    </div>
  </header>

  <br><br>


  <div>
    <input type="text" class="form-control" #emailSignin placeholder="E-Mail"/> <br>
    <input type="password" class="form-control" #passwordSignin placeholder="•••••••••"/>
    <br><br>
    <button class="btn btn-primaer btn-lg" (click)="onSignin(emailSignin.value, passwordSignin.value)">Anmelden</button>
    <br><br>
    <a class="darkLink" routerLink="/passwortzurücksetzen">Passwort vergessen?</a>
    <br><br>
    <a class="bottomLink" routerLink="/regestrieren">Hier geht es zur <u>Registrierung</u></a>
  </div>

  <div *ngIf="fehler">
    <p>Deine Benutzerdaten sind falsch. Vergewissere dich, dass du deine richtige E-Mail-Adresse und dein richtiges Passwort verwendest.</p>
  </div>

</div>






