<div class class="main-wrapper profile">

  <h2>Mein Profil</h2>
  <hr>

  <div class="btn btn-filter container">
    <div class="photo">Ma</div> <br>
    <h3>Max Mustermann</h3>
    maxmustermann@gmail.com
  </div>

  <br><br>

  <h4>Account verwalten</h4>
  <div class="btn btn-filter container leftbounded">
    <span class="material-icons"> badge </span> Benutzername ändern
  </div>
  <div class="btn btn-filter container leftbounded">
    <span class="material-icons"> password </span> Passwort ändern
  </div>

  <br><br>


  <h4>Mein Cookery</h4>
  <div class="btn btn-filter container leftbounded">
    <span class="material-icons"> group </span> Mein Haushalt
  </div>



  <button class="btn btn-lg" (click)="toLogout()">Logout</button>



</div>
