<div class class="main-wrapper leftbounded">
  <div class="ueberschrift bg-orange">
    <h1>Mein Profil</h1>
  </div>
  <br>

  <div class="btn btn-filter container">
    <div class="photo">{{(user.name) ? user.name: 'Nutzer'}}</div> <br>
    <h3>{{(user.name) ? user.name: 'Nutzer'}}</h3>
    {{user.email}}
  </div>

  <br><br>

  <h4>Account verwalten</h4>
  <!-- <div class="btn btn-filter container leftbounded" routerLink="/name-ändern">
    <span class="material-icons"> badge </span> Benutzername ändern
  </div>-->
  <div class="btn btn-filter container leftbounded" routerLink="/userMgmt">
    <span class="material-icons"> password </span> Passwort ändern
  </div>

  <br><br>


  <h4>Mein Cookery</h4>
  <div class="btn btn-filter container leftbounded">
    <a href="#" routerLink="/haushalt"><span class="material-icons"> group </span> Mein Haushalt</a>
  </div>

  <button class="btn btn-filter container warning-clr" (click)="toLogout()">Ausloggen</button>
  <br>
  <!--<button class="btn btn-filter container warning-clr">Konto löschen</button>-->

</div>

<div class="cookery-navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="#" routerLink="/home"><span class="material-icons md-36 icon-dark form-dark"> home </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/rezept"><span class="material-icons md-36 icon-dark form-dark"> menu_book </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/list"><span class="material-icons md-36 icon-dark form-dark"> checklist </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/plan"><span class="material-icons md-36 icon-dark form-dark"> date_range </span></a>
      </div>
      <div class="col-sm bg-orange">
        <a href="" routerLink="/profile"><span class="material-icons md-36 icon-white form-dark"> account_circle </span></a>
      </div>
    </div>
  </div>
</div>

