<div class class="main-wrapper leftbounded">

  <h2>Mein Profil</h2>
  <hr>

  <div class="btn btn-filter container">
    <div class="photo">Ma</div> <br>
    <h3>{{(user.name) ? user.name: 'Nutzer'}}</h3>
    {{user.email}}
  </div>

  <br><br>

  <h4>Account verwalten</h4>
  <div class="btn btn-filter container leftbounded">
    <span class="material-icons"> badge </span> Benutzername ändern
  </div>
  <div class="btn btn-filter container leftbounded" routerLink="/userMgmt">
    <span class="material-icons"> password </span> Passwort ändern
  </div>

  <br><br>


  <h4>Mein Cookery</h4>
  <div class="btn btn-filter container leftbounded">
    <a href="#" routerLink="/haushalt"><span class="material-icons"> group </span> Mein Haushalt</a>
  </div>

  <button class="btn btn-filter container warning-clr" (click)="toLogout()">Ausloggen</button>
  <br>
  <button class="btn btn-filter container warning-clr">Konto löschen</button>

</div>
