<div class="main-wrapper">

  <header>
    <div class="container">
      <a href="" class="logo">
        <img src="../../assets/Logo-Rechteckig.png"> <!-- Einbindung des Logos funktioniert noch nicht; kp why ? -->
      </a>
        <h1>Willkommen zurück bei Cookery</h1>
    </div>
  </header>

  <b>Passwort vergessen?</b><br><br>
  Kein Problem. Gebe deine E-Mail-Adresse ein und fordere einfach ein neues Passwort an. Du erhältst dann eine E-Mail mit einem Link von uns, über den du dein neues Passwort festlegen kannst.<br><br><br>

  <div>
    <input type="text" class="form-control" #emailSignin placeholder="E-Mail"/> <br>
    <br>
    <button class="btn btn-primaer btn-lg" (click)="resetPassword(emailSignin.value)">Passwort zurücksetzen</button>
    <br><br>
    <a class="bottomLink" routerLink="/regestrieren">Hier geht es zur <u>Registrierung</u></a>
  </div>

</div>
