<div class="main-wrapper">

  <header>
    <div class="container">
      <a href="" class="logo">
        <img src="../../assets/Logo-Rechteckig.png"> <!-- Einbindung des Logos funktioniert noch nicht; kp why ? -->
      </a>
        <h1>Willkommen zurück bei Cookery</h1>
    </div>
  </header>


  <div>
    <input [(ngModel)]="newName" type="text"
          id="confirmPassword" name="newName" placeholder="Benutzername" class="form-control">   <br>
    <button class="btn btn-primaer btn-lg" (click)="save()">Bestätigen</button>
  </div>

</div>


