<div class class="main-wrapper">

  <div class="ueberschrift bg-orange">
    <h1>Rezepte</h1>
  </div>
  <br>
<!--<div class="form-field" style="display: inline-flex; width:100%;">
  <div style="border: 1px solid #ced4da; border-right: 0px solid #ccc; border-radius: 30px 0px 0px 30px; max-width: 35px;">
    <span class="material-icons icon-lupe"> search </span>
  </div>
  <input type="text" class="form-control" placeholder="Welches Rezept suchst du?" style="border-left: 0px solid #ccc; border-radius:0px 30px 30px 0px;">
</div>-->

<div class="Filterung">

<a href="/rezept" class="btn btn-lg" role="button" aria-disabled="true" >
  <span class="material-icons"> menu_book </span> Alle</a>

<a href="" class="btn btn-lg" role="button" aria-disabled="true" (click)="getFav()">
  <span class="material-icons"> favorite_border </span> Favoriten</a>

<button class="btn btn-filter btn-lg" role="button" aria-disabled="true">
  <div class="input-group fitContent">
    <select class="custom-select" [(ngModel)]="chosenTime" (ngModelChange)="getTime()">
      <span class="material-icons"> schedule </span> <option value="Zubereitungszeit" selected>Zubereitungszeit</option>
      <option value="30">&lt; 30 Minuten</option>
      <option value="30-60">30-60 Minuten</option>
      <option value="60">&gt; 60 Minuten</option>
    </select>
  </div></button>

<button class="btn btn-filter btn-lg" role="button" aria-disabled="true">
  <div class="input-group fitContent">
    <select class="custom-select" [(ngModel)]="chosenCategorie" (ngModelChange)="getCategorie()">
      <span class="material-icons"> restaurant </span> <option value="Kategorie" selected>Kategorie</option>
      <option value="Pizza">Pizza</option>
        <option value="Pasta">Pasta</option>
        <option value="Fleisch">Fleisch</option>
        <option value="Fisch">Fisch</option>
        <option value="Suppe">Suppe</option>
        <option value="Salat">Salat</option>
        <option value="Vorspeise">Vorspeise</option>
        <option value="Nachspeise">Nachspeise</option>
    </select>
  </div></button>

  <button class="btn btn-filter btn-lg" role="button" aria-disabled="true">
    <div class="input-group fitContent">
      <select class="custom-select schriftGrau" [(ngModel)]="chosenDiet" (ngModelChange)="getDiet()">
        <span class="material-icons"> expand </span> <option value="Ernährungsform" selected>Ernährungsform</option>
        <option value="normal">normal</option>
        <option value="vegetarisch">vegetarisch</option>
        <option value="vegan">vegan</option>
        <option value="low carb">low carb</option>
      </select>
    </div></button>

<button class="btn btn-filter btn-lg" role="button" aria-disabled="true">
  <div class="input-group fitContent">
    <select class="custom-select schriftGrau" [(ngModel)]="chosenDifficulty" (ngModelChange)="getDifficulty()">
      <span class="material-icons"> expand </span> <option value="Schwierigkeitsgrad" selected>Schwierigkeitsgrad</option>
      <option value="leicht">leicht</option>
      <option value="mittel">mittel</option>
      <option value="schwer">schwer</option>
    </select>
  </div></button>
</div>

<table class="table rezeptuebersicht">
  <tbody>
  <tr *ngFor="let recepie of Recepies; let i = index">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ recepie.recepietitle }}</td>
    <td class="displayNone icon-box icon-box-fav" width="5%">
      <button (click)="setFav(recepie, recepie.id)">
        <span class="material-icons"> favorite_border </span>
      </button>
    </td>

    <td class="displayNone icon-box icon-box-edit" width="5%">
      <button routerLink="/edit-recepie/{{recepie.id}}"> <span class="material-icons"> create </span> </button>
    </td>
    <td class="displayNone icon-box icon-box-del" width="5%">
      <span (click)="removeRecepie(recepie)"> <span class="material-icons"> delete </span> </span>
    </td>
  </tr>
  </tbody>
</table>

<br>
<p>
  <a href="/add-new-recepie" class="btn btn-rezept btn-lg btn-add" role="button" aria-disabled="true"><span class="material-icons"> add </span></a>
</p>
</div>

<div class="cookery-navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm ">
        <a href="#" routerLink="/home"><span class="material-icons md-36 icon-dark form-dark"> home </span></a>
      </div>
      <div class="col-sm bg-orange">
        <a href="#" routerLink="/rezept"><span class="material-icons md-36 icon-white form-dark"> menu_book </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/list"><span class="material-icons md-36 icon-dark form-dark"> checklist </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/plan"><span class="material-icons md-36 icon-dark form-dark"> date_range </span></a>
      </div>
      <div class="col-sm">
        <a href="" routerLink="/profile"><span class="material-icons md-36 icon-dark form-dark"> account_circle </span></a>
      </div>
    </div>
  </div>
</div>
