<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="cookery-navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm bg-orange">
        <a href="#" routerLink="/home"><span class="material-icons md-36 form-dark"> home </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/rezept"><span class="material-icons md-36 form-dark"> menu_book </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/list"><span class="material-icons md-36 form-dark"> checklist </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/plan"><span class="material-icons md-36 form-dark"> date_range </span></a>
      </div>
      <div class="col-sm">
        <a href=""><span class="material-icons md-36 form-dark"> account_circle </span></a>
      </div>
    </div>
  </div>
</div>




