<div class="form-field">
  <input type="text" class="form-control rezeptinhalt rezepttitel" placeholder="Todo" [(ngModel)]="item.titel">
</div>
<button class="btn" (click)="save()" style="padding-top:0 !important; color: #FFAA00">
  <span class="material-icons form-dark" style="float: right"> done </span>
</button>

<table class="table rezeptuebersicht">
  <tbody>
  <tr *ngFor="let todo of todo; let i = index">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ todo.titel }}</td>
  </tr>
  </tbody>
</table>

<div class="cookery-navbar list">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="#" routerLink="/home"><span class="material-icons md-36 icon-dark form-dark"> home </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/rezept"><span class="material-icons md-36 icon-dark form-dark"> menu_book </span></a>
      </div>
      <div class="col-sm bg-green">
        <a href="#" routerLink="/list"><span class="material-icons md-36 icon-white form-dark"> checklist </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/plan"><span class="material-icons md-36 icon-dark form-dark"> date_range </span></a>
      </div>
      <div class="col-sm">
        <a href="" routerLink="/profile"><span class="material-icons md-36 icon-dark form-dark"> account_circle </span></a>
      </div>
    </div>
  </div>
</div>
