<div class="main-wrapper">
  <div class="ueberschrift bg-green">
    <h1>Einkaufsliste</h1>
  </div>


  <div class="container">
    <div class="row head-zeile">
      <div class="col">
        <div class="form-field no-margin">
          <input type="text" class="form-control einkaufsliste" placeholder="Lebensmittel" [(ngModel)]="item.titel">
        </div>
      </div>
      <div class="col">
        <button class="btn btn-einkauf" (click)="save()">
          <span class="material-icons form-dark" style="float: right"> done </span>
        </button>
      </div>

      </div>
    </div>



    <table class="table rezeptuebersicht">
      <tbody>
      <tr *ngFor="let todo of todo; let i = index">
        <!-- <th scope="row">{{ i + 1 }}</th> -->
        <th scope="row"><input type="checkbox" id="todo-title1" name="todo-title1" value="Lebensmittel"></th>
        <td><label for="todo-title1"> {{ todo.titel }}</label></td>
        <!-- <td width="5%"><input type="number" class="EK-item-number" id="quantity" name="quantity" min="1" max="999"></td> -->
      </tr>
      </tbody>
    </table>


    <!-- Platzhalter, damit die Navbar runterrutscht -->
    <div style="height: 300px; min-height: 250px;"></div>





    <div class="cookery-navbar list">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <a href="#" routerLink="/home"><span class="material-icons md-36 icon-dark form-dark"> home </span></a>
          </div>
          <div class="col-sm">
            <a href="#" routerLink="/rezept"><span class="material-icons md-36 icon-dark form-dark"> menu_book </span></a>
          </div>
          <div class="col-sm bg-green">
            <a href="#" routerLink="/list"><span class="material-icons md-36 icon-white form-dark"> checklist </span></a>
          </div>
          <div class="col-sm">
            <a href="#" routerLink="/plan"><span class="material-icons md-36 icon-dark form-dark"> date_range </span></a>
          </div>
          <div class="col-sm">
            <a href="" routerLink="/profile"><span class="material-icons md-36 icon-dark form-dark"> account_circle </span></a>
          </div>
        </div>
      </div>
    </div>
</div>
