<div class class="main-wrapper">

  <div class="ueberschrift bg-green">
    <h1>Einkaufslisten</h1>
  </div>

  <!-- <p>Du hast noch keine Einkaufslisten.</p> -->

  <a href=""><div class="box-discounter">
    REWE
  </div></a>
  <a href=""><div class="box-discounter">
    Aldi
  </div></a>
  <a href=""><div class="box-discounter">
    E-Center
  </div></a>



  <br><br>
  <p>
    <a href="#" class="btn btn-einkauf btn-lg btn-add" role="button" aria-disabled="true"><span class="material-icons"> add </span></a>
  </p>

</div>

<div class="cookery-navbar list">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="#" routerLink="/home"><span class="material-icons md-36 icon-dark form-dark"> home </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/rezept"><span class="material-icons md-36 icon-dark form-dark"> menu_book </span></a>
      </div>
      <div class="col-sm bg-green">
        <a href="#" routerLink="/list"><span class="material-icons md-36 icon-white form-dark"> checklist </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/plan"><span class="material-icons md-36 icon-dark form-dark"> date_range </span></a>
      </div>
      <div class="col-sm">
        <a href="" routerLink="/profile"><span class="material-icons md-36 icon-dark form-dark"> account_circle </span></a>
      </div>
    </div>
  </div>
</div>
