<div class class="main-wrapper leftbounded">
  <h2>Mein Haushalt</h2>
  <hr>
  <div class="btn btn-filter container leftbounded">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="kreis">Ma</div>
        </div>
        <div class="col-sm-6">
          Du
        </div>
        <div class="col-sm-3 float-right">
          <div class="btn btn-warning float-right">verlassen</div>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <h4>Mitglieder hinzufügen</h4>
  <div class="btn btn-filter container leftbounded">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a href="#" routerLink="#"><div class="kreis">+</div></a>
        </div>
        <div class="col-sm-9">
          Lade ein neues Mitglied ein
        </div>
      </div>
    </div>
  </div>
</div>
