<div class class="main-wrapper leftbounded">
  <h2>Mein Haushalt</h2>
  <hr>
  <table class="nutzer" cellpadding="10">
    <tbody>
      <tr class="btn btn-filter container leftbounded" *ngFor="let Nutzer of nutzer; let i = index">
        <!--<th scope="row">{{ i + 1 }}</th>-->
        <th scope="row"><div class="kreis">Ma</div></th>
        <td>{{ Nutzer.email }}</td>
        </tr>
      </tbody>
  </table>
  <br><br>

  <h4>Mitglieder hinzufügen</h4>
  <div class="btn btn-filter container leftbounded" routerLink="/regestrieren">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a href="#" routerLink="/regestrieren"><div class="kreis">+</div></a>
        </div>
        <div class="col-sm-9">
          Lade ein neues Mitglied ein
        </div>
      </div>
    </div>
  </div>
</div>
