/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


$orange: #FFAA00;
$green: #9CBE3F;
$blue: #77B5E3;
$schriftfarbe: #3d3d3d;


/* Hover */
$orange-h: #f29b00;
$green-h: #8ca338;
$blue-h: #669dbf;

/* Light Mode */
$l-background-color: #ffffff;








body {
  background-color: $l-background-color !important;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  text-align: center;
  color: $schriftfarbe !important;

  a{
    text-decoration: none;
    color: white;
  }

  span{
    vertical-align: sub;
  }
}

.container{
  width: 100%;
}

header{
  background-color: $l-background-color;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;

  a{
    text-decoration: none;
    object-position: center;

    img{
      width: 70%;
    }
  }

  a:hover {
    text-decoration: none;
  }

  h1{
    color: $orange;
    font-family: 'Handlee', cursive;
  }

  p{
    font-family: 'Handlee', cursive;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 414px;
  margin: auto;
  text-align: center;
}
.flex-container a:hover {
  text-decoration: none;
  color: white;
}

.flex-item-r {
  background-color: $orange;
  margin: 15px;
  padding: 20px 10px;
  min-height: auto;
  min-height: 70px;
  border-radius: 20px;
  justify-content: center;
}
.flex-item-r:hover {
  background-color: $orange-h;
}

.flex-item-l {
  background-color: $green;
  margin: 15px;
  padding: 20px 10px;
  min-height: auto;
  min-height: 70px;
  border-radius: 20px;
  justify-content: center;
}
.flex-item-l:hover {
  background-color: $green-h;
}

.flex-item-p {
  background-color: $blue;
  margin: 15px;
  padding: 20px 10px;
  min-height: auto;
  min-height: 70px;
  border-radius: 20px;
  justify-content: center;
}
.flex-item-p:hover {
  background-color: $blue-h;
}

.material-icons.md-48{
  font-size: 48px;
}

.material-icons.md-light{
  color: rgba(255, 255, 255, 1);
}

.icon-white{
  color: white;
}

.form-field {
  margin-top: 20px;
}

.form-control {
  border-radius: 30px !important;
  font-weight: 300;
  font-family: 'Roboto Light';
}

.btn {
  font-weight: 300;
  font-family: 'Roboto Light';
}
.btn-lg {
  font-size: 16px !important;
}

.Filterung {
  display: inline-flex;
}

.Filterung a.btn.btn-lg {
  display: inline-flex;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $orange;
  border: 1px solid $orange;
  border-radius: 40px;
}
span.material-icons {
  padding-right: 8px;
}



/* Dark Mode */
$d-background-color: #0D0D0D;

.darkmode p {
  color: white;
}

.darkmode input[type="text"]{
  background-color : #2f2f2f;
  border: none;
}

.darkmode input[type="text"]::placeholder {
  color: #bfbfbf;
  padding-left: 25px
}

.darkmode input[type="text"]:focus {
  color: #bfbfbf;
  background-color : #2f2f2f;
}

.darkmode textarea[type="text"] {
  background-color : #2f2f2f;
  border: none;
  margin-bottom: 50px;
}




@media only screen and (max-width: 415px) {
  .material-icons.md-36{
    font-size: 36px;
  }
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
