/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


$orange: #FFAA00;
$green: #9CBE3F;
$blue: #77B5E3;
$schriftfarbe: #3d3d3d;
$gray: #f3f2f2;
$violet: #60339F;
$red: #D54B4B;


/* Hover */
$orange-h: #f29b00;
$green-h: #8ca338;
$blue-h: #669dbf;

/* Light Mode */
$l-background-color: #ffffff;





.bg-orange {
  background-color: $orange;
}
.bg-green {
  background-color: $green;
}
.bg-blue {
  background-color: $blue;
}
.bg-violet {
  background-color: $violet;
}








body {
  background-color: $l-background-color !important;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  text-align: center;
  color: $schriftfarbe !important;

  a{
    text-decoration: none;
    color: $orange;
  }
  a:hover {
    text-decoration: none;
    color: $orange-h;
  }

  span{
    vertical-align: sub;
  }
}

.container{
  width: 100%;
}

header{
  background-color: $l-background-color;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top:10%;

  a{
    text-decoration: none;
    object-position: center;

    img{
      width: 70%;
    }
  }

  a:hover {
    text-decoration: none;
  }

  h1{
    color: $orange;
    font-family: 'Handlee', cursive;
  }

  p{
    font-family: 'Handlee', cursive;
  }
}


.darkLink {
  color: $schriftfarbe !important;
}

.bottomLink {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}



/* Gesamt-Breite verschmälern */
.main-wrapper {
  max-width: 414px;
  margin: auto;
  text-align: center;
}


/* Kacheln */
.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.flex-container a:hover {
  text-decoration: none;
}

.flex-item {
  color: white;
}

.flex-item-r {
  background-color: $orange;
  margin: 15px;
  padding: 20px 10px;
  min-height: auto;
  min-height: 70px;
  border-radius: 20px;
  justify-content: center;
}
.flex-item-r:hover {
  background-color: $orange-h;
}

.flex-item-l {
  background-color: $green;
  margin: 15px;
  padding: 20px 10px;
  min-height: auto;
  min-height: 70px;
  border-radius: 20px;
  justify-content: center;
}
.flex-item-l:hover {
  background-color: $green-h;
}

.flex-item-p {
  background-color: $blue;
  margin: 15px;
  padding: 20px 10px;
  min-height: auto;
  min-height: 70px;
  border-radius: 20px;
  justify-content: center;
}
.flex-item-p:hover {
  background-color: $blue-h;
}

.material-icons.md-48{
  font-size: 48px;
}

.material-icons.md-light{
  color: rgba(255, 255, 255, 1);
}

.icon-white{
  color: white;
}

.icon-dark {
  color: $schriftfarbe;
}

.form-field {
  margin-top: 20px;
  margin-bottom: 15px;
}

.form-control {
  border-radius: 30px;
  font-weight: 300;
  font-family: 'Roboto Light';
}

.btn {
  font-weight: 300;
  font-family: 'Roboto Light';
  border-radius: 40px !important;
  padding: 0.5rem 40px !important;
}
.btn-lg {
  font-size: 16px !important;
}
.btn.btn-primaer {
  background-color: $orange;
  color: white;
}
.btn.btn-primaer:hover {
  background-color: $orange-h;
  color: white;
}
/* Rezept Bereich */
.btn.btn-rezept {
  background-color: $orange;
  color: white;
}
.btn.btn-rezept:hover {
  background-color: $orange-h;
  color: white;
}
/* Einkaufsliste Bereich */
.btn.btn-einkauf {
  background-color: $green;
  color: white;
}
.btn.btn-einkauf:hover {
  background-color: $green-h;
  color: white;
}
.btn-add {
  position: fixed;
  bottom: 80px;
  right: 20px;
  padding: 0.5rem 0.6rem !important;     // das padding von .btn überschreiben, damit es ein schöner runder Button ist
}




/* ------------------------ R E Z E P T  Ü B E R S I C H T ------------------------ */

.icon-lupe {
  margin-top: 6px;
  padding-left: 10px;
  color: #ced4da;
}


.Filterung {
  display: inline-flex;
  float: left;
  max-width: 100%;
  overflow: scroll;
}

.Filterung a.btn.btn-lg, .Filterung button.btn.btn-lg {
  display: inline-flex;
  margin-right: 10px;
  padding: 10px 20px !important;
  border: 1px solid $gray;
  background-color: $gray;
}
.Filterung span.material-icons {
  padding-right: 8px;
}
.btn-active {
  background-color: $orange !important;
  border: 1px solid $orange !important;
}
.Filterung a.btn.btn-lg:hover, .Filterung button.btn.btn-filter.btn-lg:hover {
  background-color: $orange;
  border: 1px solid $orange;
  color: white;
}

.btn.btn-filter {
  background-color: $gray;
  border: 1px solid $gray;
  margin-bottom: 5px;
}


.rezeptuebersicht {
  margin-top: 60px;
  text-align: left;
}



/* dropdown menu hintergrundfarbe */
option {
  background-color: $gray;
  border: none;
  box-shadow: none;
}


/*
.displayNone {
  display:none;
}*/
.display {
  /*display:*/
}

td.icon-box {
  text-align: center;
}
td.icon-box-fav {
  background-color: #ccc7c7 !important;
}
td.icon-box-edit {
  background-color: #8b8585 !important;
}
td.icon-box-del {
  background-color: #d54b4b !important;
}
td.icon-box a {
  color: $schriftfarbe;
}



/* ------------ N E U E S  R E Z E P T  &  R E Z E P T  B E A R B E I T E N - S E I T E ------------ */

input:focus {
  background-color: rgba(255,255,255,0);
}

input.rezepttitel {
  padding-left: 0px;
}
.form-control.rezeptinhalt {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
}
.form-control.rezeptinhalt:focus, input:focus, textarea:focus {
  border: none;
  background-color: transparent;
  outline: none;
}
.rezeptinhalte-box {
  background-color: #f3f2f2;
  border-radius: 20px;
  color: $schriftfarbe;
  text-align: left;
}
.displayFlex {
  display: flex;
  min-height: 50px;
}
.icon-positionierung {
  margin-top: 11px;
  padding-left: 12px;
}
.custom-select {
  width: 100%;
  border: none !important;
  border-radius: 20px;
  background-color: transparent;
  color: $schriftfarbe;
}
.custom-select:focus {
  outline: none;
  border: none;
}
.custom-select:hover, .custom-select:focus, select:hover {
  border: none;
}
.input-group.fitContent {
  width: max-content !important;
}




.row.head-zeile {
  margin-top: 20px;
  color: $orange;
}



/* ------------ E I N K A U F S L I S T E ------------ */

.box-discounter {
  background-color: $green;
  border-radius: 20px;
  color: white;
  margin: 20px 30px;
  padding: 40px 0px;
}
.box-discounter:hover {
  background-color: $green-h;
}

input.EK-item-bez {
  max-width: 150px;
  border: 0px solid #fff;
}
input.EK-item-number, input.EK-item-number:focus {
  max-width: 50px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
}
.material-icons.md-26{
  font-size: 26px;
}




/* ------------ E S S E N S P L A N ------------ */

.container.BoxVonTag {
  background-color: $gray;
  border-radius: 20px;
  margin-bottom: 0.5em;
}
.col-sm-2.rightbounded {
  text-align: right;
}
.col-sm-8.leftbounded {
  text-align: left;
}
.material-icons.md-20{
  font-size: 20px;
}



/* ------------ P R O F I L ------------ */


.leftbounded {
  text-align: left;
}



.photo {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  background-color: $violet;
  border-radius: 100px;
  margin: auto;
  color: white;
  padding-top: 20%;
}
.kreis {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  background-color: $violet;
  border-radius: 100px;
  color: white;
  margin-right: 5px;
}
.warning-clr {
  color: $red;
}



.btn.btn-warning {
  background-color: $red;
  color: white;
}
.btn.btn-warning:hover {
  background-color: #000;
  color: white;
}
.float-right {
  float:right;
}




/* ------------------------- N A V B A R ------------------------- */

.cookery-navbar {
  position: sticky;
  bottom:0;
  border-top: 3px solid $orange;
  width:100%;
  max-width: 414px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  background-color: white;
}

.cookery-navbar-list {
  position: sticky;
  bottom:0;
  border-top: 3px solid $green;
  width:100%;
  max-width: 414px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  background-color: white;
}

.cookery-navbar-plan {
  position: sticky;
  bottom:0;
  border-top: 3px solid $blue;
  width:100%;
  max-width: 414px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  background-color: white;
}

.material-icons.md-36{
  font-size: 36px;
}


.row > * {
  padding-left: 1.1em !important;
  padding-right: 1.1em !important;
}

.cookery-navbar .container .row .col-sm {
  padding: 10px 0px;
}







/* Dark Mode */
$d-background-color: #0D0D0D;

.darkmode p {
  color: white;
}

.darkmode input[type="text"]{
  background-color : #2f2f2f;
  border: none;
}

.darkmode input[type="text"]::placeholder {
  color: #bfbfbf;
  padding-left: 25px
}

.darkmode input[type="text"]:focus {
  color: #bfbfbf;
  background-color : #2f2f2f;
}

.darkmode textarea[type="text"] {
  background-color : #2f2f2f;
  border: none;
  margin-bottom: 50px;
}









@media only screen and (max-width: 415px) {
  .material-icons.md-36{
    font-size: 36px;
  }

  .material-icons.md-48{
    font-size: 36px;
  }

  .row > * {
    width: auto !important;
    max-width: auto !important;
    padding: auto !important;
  }
}

@media only screen and (max-width: 321px) {
  .row > * {
    padding-left: 0.8em !important;
    padding-right: 0.8em !important;
  }
}




/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
















