<div class class="main-wrapper">
<header>
  <div class="container">
    <a href="" class="logo">
      <img src="../../assets/Logo-Rechteckig.png"> <!-- Einbindung des Logos funktioniert noch nicht; kp why ? -->
    </a>
      <h1>Hallo [Name]</h1>
  </div>
</header>

<div class="flex-container">
  <a href="#" routerLink="/rezept"> <div class="flex-item-r flex-item"> Rezeptbuch <br><br> <span class="material-icons md-48"> menu_book </span> </div> </a>
  <a href="#" routerLink="/list"> <div class="flex-item-l flex-item"> Einkaufsliste <br><br> <span class="material-icons md-48"> checklist </span> </div> </a>
  <a href="#" routerLink="/plan"> <div class="flex-item-p flex-item"> Essensplan <br><br> <span class="material-icons md-48"> date_range </span> </div> </a>
</div>

<button class="btn btn-lg" (click)="toLogout()">Logout</button>


</div>

