<div class class="main-wrapper">
<header>
  <div class="container">
    <a href="" class="logo">
      <img src="../../assets/Logo-Rechteckig.png"> <!-- Einbindung des Logos funktioniert noch nicht; kp why ? -->
    </a>
  </div>
</header>

<div class="flex-container">
  <a href="#" routerLink="/rezept"> <div class="flex-item-r flex-item"> Rezeptbuch <br><br> <span class="material-icons md-48"> menu_book </span> </div> </a>
  <a href="#" routerLink="/list"> <div class="flex-item-l flex-item"> Einkaufsliste <br><br> <span class="material-icons md-48"> checklist </span> </div> </a>
  <a href="#" routerLink="/plan"> <div class="flex-item-p flex-item"> Essensplan <br><br> <span class="material-icons md-48"> date_range </span> </div> </a>
</div>




</div>

<div class="cookery-navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm bg-orange">
        <a href="#" routerLink="/home"><span class="material-icons md-36 icon-white form-dark"> home </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/rezept"><span class="material-icons md-36 icon-dark form-dark"> menu_book </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/list"><span class="material-icons md-36 icon-dark form-dark"> checklist </span></a>
      </div>
      <div class="col-sm">
        <a href="#" routerLink="/plan"><span class="material-icons md-36 icon-dark form-dark"> date_range </span></a>
      </div>
      <div class="col-sm">
        <a href="" routerLink="/profile"><span class="material-icons md-36 icon-dark form-dark"> account_circle </span></a>
      </div>
    </div>
  </div>
</div>

