<div class="main-wrapper">
  <div class="ueberschrift bg-blue">
    <h1>Essensplan</h1>
  </div>


  <form action="/action_page.php" [formGroup]="editForm" (ngSubmit)='onSubmit()' novalidate>
    <div class="container BoxVonTag form-field">
      <div class="row" style="padding-top: 10px; padding-bottom: 5px">
        <div class="col-sm-2 rightbounded padding-top-8">Mo</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Mittagessen hinzufügen" formControlName="M1">
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
      <div class="row" style="padding-top: 5px; padding-bottom: 10px">
        <div class="col-sm-2 rightbounded" style="color:#f3f2f2">Mo</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Abendessen hinzufügen" formControlName="A1" >
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row" style="padding-top: 10px; padding-bottom: 5px">
        <div class="col-sm-2 rightbounded" style="padding-top: 8px;">Di</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Mittagessen hinzufügen" formControlName="M2">
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
      <div class="row" style="padding-top: 5px; padding-bottom: 10px">
        <div class="col-sm-2 rightbounded" style="color:#f3f2f2">Di</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Abendessen hinzufügen" formControlName="A2">
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row" style="padding-top: 10px; padding-bottom: 5px">
        <div class="col-sm-2 rightbounded" style="padding-top: 8px;">Mi</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Mittagessen hinzufügen" formControlName="M3" >
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
      <div class="row" style="padding-top: 5px; padding-bottom: 10px">
        <div class="col-sm-2 rightbounded" style="color:#f3f2f2">Mi</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Abendessen hinzufügen" formControlName="A3" >
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row" style="padding-top: 10px; padding-bottom: 5px">
        <div class="col-sm-2 rightbounded" style="padding-top: 8px;">Do</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Mittagessen hinzufügen" formControlName="M4" >
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
      <div class="row" style="padding-top: 5px; padding-bottom: 10px">
        <div class="col-sm-2 rightbounded" style="color:#f3f2f2">Do</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Abendessen hinzufügen" formControlName="A4" >
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row" style="padding-top: 10px; padding-bottom: 5px">
        <div class="col-sm-2 rightbounded" style="padding-top: 8px;">Fr</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Mittagessen hinzufügen" formControlName="M5" >
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
      <div class="row" style="padding-top: 5px; padding-bottom: 10px">
        <div class="col-sm-2 rightbounded" style="color:#f3f2f2">Fr</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Abendessen hinzufügen" formControlName="A5" >
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row" style="padding-top: 10px; padding-bottom: 5px">
        <div class="col-sm-2 rightbounded" style="padding-top: 8px;">Sa</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Mittagessen hinzufügen" formControlName="M6" >
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
      <div class="row" style="padding-top: 5px; padding-bottom: 10px">
        <div class="col-sm-2 rightbounded" style="color:#f3f2f2">Sa</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Abendessen hinzufügen" formControlName="A6">
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row" style="padding-top: 10px; padding-bottom: 5px">
        <div class="col-sm-2 rightbounded" style="padding-top: 8px;">So</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Mittagessen hinzufügen" formControlName="M7">
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
      <div class="row" style="padding-top: 5px; padding-bottom: 10px">
        <div class="col-sm-2 rightbounded" style="color:#f3f2f2">So</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="custom-select form-control plan" placeholder="Abendessen hinzufügen" formControlName="A7">
        </div>
        <div class="col-sm-2 displayNone icon-box icon-box-edit padding-top-4">
          <button type="submit">
            <span class="material-icons md-20"> done </span>
          </button>
        </div>
      </div>
    </div>

  </form>




  <div class="cookery-navbar plan">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="#" routerLink="/home"><span class="material-icons md-36 icon-dark form-dark"> home </span></a>
        </div>
        <div class="col-sm">
          <a href="#" routerLink="/rezept"><span class="material-icons md-36 icon-dark form-dark"> menu_book </span></a>
        </div>
        <div class="col-sm">
          <a href="#" routerLink="/list"><span class="material-icons md-36 icon-dark form-dark"> checklist </span></a>
        </div>
        <div class="col-sm bg-blue">
          <a href="#" routerLink="/plan"><span class="material-icons md-36 icon-white form-dark"> date_range </span></a>
        </div>
        <div class="col-sm">
          <a href="" routerLink="/profile"><span class="material-icons md-36 icon-dark form-dark"> account_circle </span></a>
        </div>
      </div>
    </div>


</div>
