<div class="main-wrapper">
  <div class="ueberschrift bg-blue">
    <h1>Essensplan</h1>
  </div>


  <form action="/action_page.php" [formGroup]="editForm" (ngSubmit)='onSubmit()' novalidate>
    <div class="container BoxVonTag form-field">
      <div class="row">
        <div class="col-sm-2 rightbounded">Mo</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Mittagessen hinzufügen" formControlName="M1">
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 rightbounded"></div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Abendessen hinzufügen" formControlName="A1" >
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row">
        <div class="col-sm-2 rightbounded">Di</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Mittagessen hinzufügen" formControlName="M2">
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 rightbounded"></div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Abendessen hinzufügen" formControlName="A2">
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row">
        <div class="col-sm-2 rightbounded">Mi</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Mittagessen hinzufügen" formControlName="M3" >
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 rightbounded"></div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Abendessen hinzufügen" formControlName="A3" >
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row">
        <div class="col-sm-2 rightbounded">Do</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Mittagessen hinzufügen" formControlName="M4" >
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 rightbounded"></div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Abendessen hinzufügen" formControlName="A4" >
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row">
        <div class="col-sm-2 rightbounded">Fr</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Mittagessen hinzufügen" formControlName="M5" >
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 rightbounded"></div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Abendessen hinzufügen" formControlName="A5" >
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row">
        <div class="col-sm-2 rightbounded">Sa</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Mittagessen hinzufügen" formControlName="M6" >
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 rightbounded"></div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Abendessen hinzufügen" formControlName="A6">
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container BoxVonTag form-field">
      <div class="row">
        <div class="col-sm-2 rightbounded">So</div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Mittagessen hinzufügen" formControlName="M7">
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 rightbounded"></div>
        <div class="col-sm-8 leftbounded">
          <input type="text" class="form-control" placeholder="Abendessen hinzufügen" formControlName="A7">
        </div>
        <div class="col-sm-2">
          <button type="submit">
            <span class="material-icons md-20"> edit </span>
          </button>
        </div>
      </div>
    </div>

  </form>

  <div class="cookery-navbar plan">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="#" routerLink="/home"><span class="material-icons md-36 icon-dark form-dark"> home </span></a>
        </div>
        <div class="col-sm">
          <a href="#" routerLink="/rezept"><span class="material-icons md-36 icon-dark form-dark"> menu_book </span></a>
        </div>
        <div class="col-sm">
          <a href="#" routerLink="/list"><span class="material-icons md-36 icon-dark form-dark"> checklist </span></a>
        </div>
        <div class="col-sm bg-blue">
          <a href="#" routerLink="/plan"><span class="material-icons md-36 icon-white form-dark"> date_range </span></a>
        </div>
        <div class="col-sm">
          <a href="" routerLink="/profile"><span class="material-icons md-36 icon-dark form-dark"> account_circle </span></a>
        </div>
      </div>
    </div>


</div>
